@import '/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

body {
    background: #f6f5f2;
}

section {
    margin-bottom: 116px;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter Display", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 87px;
}

.nav-menu {
    display: flex;
    gap: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2b3f5b;
}

a {
    text-decoration: none;
    color: inherit;
}

select {
    border: none;
    outline: none;
}

.programs-select {
    width: 91px;
}

.about-us-select {
    width: 65px;
}

.contact-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 376px;
}

.contact-with-us {
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #cc8e1e;
    border: 0.50px solid #cc8e1e;
    border-radius: 20px;
    text-align: center;
    width: 190px;
    height: 40px;
    background: rgba(204, 142, 30, 0.1);
}

.language-select {
    width: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2b3f5b;
    text-transform: uppercase;
}

.theme-switcher {
    display: flex;
    justify-content: space-between;
}

.sun-background {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
    width: 24px;
    height: 24px;
    background: #cc8e1e;
}

.moon {
    margin: 8px 8px 8px 7px;
}

.promotional-packages {
    display: flex;
    margin-bottom: 89px;
}

.section-1 {
    padding: 105.9px 129px 105.9px 0;
}

h5 {
    font-family: "Oranienbaum", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #2b3f5b;
    margin-bottom: 24px;
}

section .info {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.strikethrough {
    text-decoration: line-through;
}

.packages-wrapper {
    display: flex;
    gap: 25px;
}

.package {
    /* width: 413px; */
    border: 1px solid rgba(204, 142, 30, 0.27);
    padding: 24px;
}

.package p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.package-heading {
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #cc8e1e;
    margin-bottom: 16px;
}

.package-link {
    line-height: 50px;
    color: #cc8e1e;
    border: 0.50px solid #cc8e1e;
    border-radius: 25px;
    /* width: 365px; */
    height: 50px;
    text-align: center;
    background: rgba(204, 142, 30, 0.1);
    margin: 16px auto 0;
}

.slider-form-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.slider-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
}

.slider {
    width: 629px;
    overflow: hidden;
}

.slide {
    margin-bottom: 16px;
    display: none;
}

.slide.active {
    display: block;
}

.slider h2 {
    font-family: "Oranienbaum", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    color: #000;
    margin-bottom: 16px;
}

.slider p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2b3f5b;
    margin-bottom: 16px;
}

.slider a {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #cc8e1e;
    cursor: pointer;
}

.prev {
    width: 88px;
    height: 88px;
    border-radius: 300px 0 0 300px;
    border: none;
    backdrop-filter: blur(30px);
    background: #f1efe9;
    background-image: url('/images/slider-arrow-prev.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.next {
    width: 88px;
    height: 88px;
    border-radius: 0 300px 300px 0;
    border: none;
    backdrop-filter: blur(30px);
    background: #f1efe9;
    background-image: url('/images/slider-arrow-next.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.contact-form-wrapper {
    border: 1px solid rgba(204, 142, 30, 0.27);
    padding: 26px 26px 40px;
}

form h2 {
    font-family: "Oranienbaum", sans-serif;
    font-size: 32px;
    line-height: 125%;
    color: #2b3f5b;
    margin-bottom: 16px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
}

.form-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2b3f5b;
    width: calc(100% - 35px);
    border: 1px solid rgba(204, 142, 30, 0.6);
    border-radius: 10px;
    padding: 18px 16px 8px;
    background: #f6f5f2;
}

.form-input:focus {
    border-color: rgba(204, 142, 30, 0.6);
}

.form-input::placeholder {
    font-size: 16px;
    line-height: 150%;
    color: #b6bbc3;
}

.inner-label {
    font-size: 10px;
    line-height: 100%;
    color: #646e7c;
    position: absolute;
    left: 16px;
    top: 8px;
    transition: 0.2s ease all;
    pointer-events: none;
}

#middle-container {
    margin: 8px 0 8px;
}

.checkbox {
    display: flex;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2b3f5b;
    margin: 16px 0;
}

.checkbox input {
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #b6bbc3;
}

form button {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding: 15px 20px;
    background-color: #cc8e1e;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
}

.price-list-section {
    margin-bottom: 147.3px;
}

.price-list {
    font-family: "Oranienbaum", sans-serif;
    font-weight: 400;
    background: #fff;
    border: 1px solid rgba(204, 142, 30, 0.27);
    padding: 48px 108px;
}

.list-heading, .list-item {
    display: flex;
    justify-content: space-between;
}

.list-heading {
    display: flex;
    justify-content: space-between;
    
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    background: #faf4e8;
    padding: 16px 0px;
    margin-bottom: 26px;
}

.list-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #000;
    background: #f1efe9;
    padding: 8px 0px;
    margin-bottom: 26px;
}

.code-name-wrapper {
    display: flex;
}

.code-item, .price-item {
    text-align: center;
}

.code,
.code-item,
.price,
.price-item {
    width: 197px;
}

.motto {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
}

.section-map {
    margin-bottom: 116px;
}

.bg-container {
    display: flex;
    height: 280px;
    background-color: #fff;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.contact-type {
    font-size: 16px;
    line-height: 150%;
}

.contact-value {
    font-family: "Oranienbaum", sans-serif;
    font-size: 32px;
    line-height: 110%;
}

.phone {
    margin-left: 109.4px;
}

#phone {
    margin: 13px 0 18px;
}

.addres {
    display: flex;
    align-items: flex-end;
    color: #fff;
    position: relative;
    z-index: 1;
}

.navigation-arrow {
    margin-left: 25px;
    cursor: pointer;
}

.addres::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 386px;
    height: 368px;
    background-image: url('/images/warszawa_map.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#addres {
    margin-bottom: 7px;
}

.mail {
    margin-right: 162px;
}

.socials-icons {
    display: flex;
    gap: 30px;
    margin-top: 32.6px;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 150%;
    padding-top: 102px;
    margin-bottom: 53px;
}

.copyright {
    width: 295px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.copyright img {
    margin-top: 15px;
}

.copy-nav-wrapper {
    display: flex;
    gap: 32.8px
}

.links-row {
    display: flex;
    gap: 15px;
    color: #cc8e1e;
    margin-bottom: 30px;
}

.footer-contact {
    display: flex;
    gap: 30px;
    font-size: 14px;
}

.footer-localization {
    width: 270px;
}

.footer-socials {
    display: flex;
    gap: 30px;
    margin-top: 15.3px;
}

.politic {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #cc8e1e;
}